[Unit]
Description= Voxbox service
Requires=wrapdocker.service
After=wrapdocker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /apps/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /apps/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
