[Unit]
Description=wraps docker

[Service]
Type=oneshot
ExecStart= /usr/local/bin/wrapdocker
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
